<%= form_for(@product) do |f| %>

<% if @product.errors.any? %>
  <div id="error_explanation-products">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="row">
    <%= f.label :name %>
    <%= f.text_field :name%>
  </div>

  <div class="row">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="row">
    <%= f.label :size, "Size (oz)" %>
    <%= f.text_field :size%>
  </div>

  <div class="row">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="row">
    <%= f.label :category_id, "Category" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, { prompt: "Please choose a category..." }) %>
  </div>

  <div class="row">
    <%= f.label :price, "Price ($)" %>
    <%= f.text_field :price%>
  </div>

  <div class="row">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="row">
    <%= f.label :product_photo, "Photo URL" %>
    <%= f.text_field :product_photo %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Product" %>
  </div>
<% end %>
