<%= image_tag("#{@product.product_photo}", size: "300x300", class: "product") %>

<table>
  <td>
  <h3><%= @product.brand %></h3>
  <h4><%= @product.name %></h4>

  <%= "Size: #{@product.size} oz" %><br>
  <%= "Price: #{number_to_currency(@product.price)}" %><br>
  <%= "Color: #{@product.color}" %>

  <h4>What it does:</h4>
  <%= @product.description %></p>

<% if !@product.reviews.empty? %>
  <h4>Average Rating: <%= @product.average_rating %>/5</h4>
<% end %>

</td>
</table>

<%= link_to "Back to All Products", products_path %>

<%= render 'reviews' %>

<% if !current_user.nil? %>
  <h2>New Review</h2>
  <div class="new-review">
    <%= render "reviews/form" %>
  </div>
<% end %>
