<%= form_for([@product, @review]) do |f| %>

  <div class="row">
    <%= f.text_area :body %>
  </div>

  <div class="row">
    <%= f.label :rating %><br>
    <%= f.collection_radio_buttons :rating, Review::RATINGS, :to_i, :to_s %>
  </div>

  <div class="actions">
    <%= f.submit "Submit Review" %>
  </div>
<% end %>
